<div style="color: white;padding-top:0px;text-align:center;background-color:#257662;border-radius:15px;border: 1px solid white;"> 
    <h3>Exercise 1 (score:350)</h3>
</div>

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 01 (Basic)(50):</h4>
</div>

In [20]:
# convert to int
num1 = 12.45
new_num1 = int(num1)
print(f" the int of {num1} is {new_num1}")
num2 = "12.45"
# new_num2 = int(num2) # we have a value error because the number in string has . and is float so we can't convert it to int
print (" the int of the '12.45' doesn't exist we should convert it to float and then to int")
flag1 = True
new_flag1 = int(flag1)
print(f" the int of {flag1} is {new_flag1}")
code = "a123"
# new_code = int(code) ====> value error because of a in a123
print(f" value error for the int of 'a123' ")
num3 = "0123"
new_num3 = int(num3)
print(f" the int of '{num3}' is {new_num3}")

# convert to float
num4 = 10
new_num4 = float(num4)
num5 = 4.
new_num5 = float(num5)
num6 = "4.7"
new_num6 = float(num6)
num7 = "51"
new_num7 = float(num7)
print(f" the float of {num4} is {new_num4}, {num5} is {new_num5}, '{num6}' is {new_num6}, '{num7}' is {new_num7}")
name = "python"
#new_name = float(name) ====> error
print(" could not convert string to float: 'python'")

# convert to bool
flag3 = False
new_flag3 = bool(flag3)
flag4 = "False"
new_flag4 = bool(flag4)
name1 = ""
new_name1 = bool(name1)
name2 = " "
new_name2 = bool(name2)
num8 = 0
new_num8 = bool(num8)
print(f" the bool of {flag3} is {new_flag3}, '{flag4}' is {new_flag4}, '{name1}' is {new_name1}, '{name2}' is {new_name2}, {num8} is {new_num8}")

# convert to str
flag = False
new_flag = str(flag)
num = 0.000
new_num = str(num)
print(f" the str of {flag} is {new_flag}, {num} is {new_num}")

 the int of 12.45 is 12
 the int of the '12.45' doesn't exist we should convert it to float and then to int
 the int of True is 1
 value error for the int of 'a123'
 the int of '0123' is 123
 the float of 10 is 10.0, 4.0 is 4.0, '4.7' is 4.7, '51' is 51.0
 could not convert string to float: 'python'
 the bool of False is False, 'False' is True, '' is False, ' ' is True, 0 is False
0.0
 the str of False is False, 0.0 is 0.0

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 02 (Basic)(50)</h4>
</div>

In [26]:
x = "300"
y = int(x) #300
z = y + 200 #500
a = float(z) # 500.
#b = a + x # error we can't use sum operation for str and float
# fix : we convert str to int or float
b = int(x) + a #800
c = int(b) + 100 #900
print(c)

In [31]:
x = "250"
y = int(x) #250
z = y // 3 #83 tip: // the answer is always int
a = str(z) # "83"
b = a + x  # "83250"
c = int(b) // 2 #41625
print (c)

41625

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 03 (Basic)(50)</h4>
</div>

In [3]:
true_inputs = ["yes", "no"]
user_input = input("please enter your string: ")
test = user_input in true_inputs
print(test)

True

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 04 (Basic)(50)</h4>
</div>

In [11]:
true_inputs = [""]
user_input = input("please enter your string: ")
test = user_input in true_inputs
print( not test)

True

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 05 (Basic)(50)</h4>
</div>

In [12]:
temp = float(input("enter the temperature in celsius: "))
f_temp = temp * 1.8 + 32
print(f"{f_temp}Fahrenheit")

68.0Fahrenheit

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 06 (Basic)(50)</h4>
</div>

In [16]:
num1, num2, num3 = 17, 1.8, 28 #num1 = 17 , num2 = 1.8, num3 = 28
#num4, num5 = 45, 12, 19 # error : too many values to unpack (expected 2). 2 variables and 3 values
# fix: to fix this error I omitted the extra value
num4, num5 = 45, 12
#num6, num7, num8 = 200, 300 # Error : not enough values for variables
# Fix : I add one more value
num6, num7, num8 = 200, 300, 400
var1 = var2 = var3 = 500

num1 = 20
num2 = 30
num1, num2 = num2, num1 #exchanging the values.
print(num1, num2)

30 20

<div style="color: white;padding-top:18px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 05 (String)(80)</h4>
<p> Write a program that prompts the user to enter a password. The program
should validate the password based on the following criteria</p>

</div>

The length of the password must be exactly 8 characters.
The first four characters of the password must be letters (alphabets).
The last four characters of the password must be digits (numbers).
If the password meets all the above criteria, the program should display "Valid".
Otherwise, it should display "Invalid".

In [18]:
# write code here: 

password = input("Enter Your Password: ")

len_pass = len(password)

middle = len_pass//2

part1 = password[:middle]

part2 = password[middle:]

print("len :",len_pass,"\npart1:",part1,"\npart2:",part2)

if len_pass == 8 and part1.isalpha() and part2.isdigit():
    
    print("Valid")
    
else:
    
    print("Invalid")

len : 4
part1: 12
part2: 34
Invalid

<div style="color: white;padding-top:0px;text-align:center;background-color:#257662;border-radius:15px;border: 1px solid white;"> 
    <h3>Exercise 2 (score:200)</h3>
</div>

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 01 (Condition)(50)</h4>
</div>

In [20]:
letter = str(input("enter yor letter: "))
vowels = [ "a", "o", "i", "u", "e"]
if letter in vowels:
    print("Vowel")
else :
    print("Consonant")

Consonant

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 02 (Condition)(50)</h4>
</div>

In [23]:
number = int(input("enter your number: "))
if number > 10 and number < 20 : # within 10 to 20. not including 10 and 20
    print(" In range")
else:
    print("Out of Range")

 In range

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 03 (Condition)(50)</h4>
</div>

In [28]:
num1 = int(input("enter the first number: "))
num2 = int(input("enter the second number: "))
sum = num1 + num2
if sum > 20 :
    print("Greater")
else:
    print("Not Greater")

Not Greater

<div style="color: white;padding-top:0px;text-align:left;background-color:red;border-radius:15px;border: 1px solid white;"> 
    <h4>Question 04 (Condition)(50)</h4>
</div>

In [32]:
color1 = str(input(" enter your first color: "))
color2 = str(input(" enter your second color: "))
color3 = str(input(" enter your third color: "))
if color1 == color2 and color2 == color3 :
    print("All colors match")
elif color1 == color2 or color2 == color3 or color1 == color3 :
    print ("Two colors match")
else:
    print("No color match")

No color match

<h2 style="color: blue:; background-color: purple">Good luck</h2>