<div style="color: white;padding-top:18px;text-align:center;background-color:#8B008B;border-radius:15px;border: 1px solid white;"> 
    <h3>Exercise 11 (score:300 + 50)</h3>
</div>

<div style="color: black;font-family:Georgia;padding-top:18px;text-align:left;background-color:lightskyblue;border-radius:15px;border: 2px solid cornflowerblue;">
    <h4>Question 01 (Tuple)(100):</h4>
    <p>
        Create a Python program with below details:
        </p>
<li>Input a count of students.</li> 
<li>Collect each student's unique ID, name, and score into tuples.</li>
<li>Store these tuples in a list.</li>
<li>Input a name to search the list.</li> 
<li>Display the matching student's details, if found..</li>
    
</div>

In [18]:
def student_info(s_id, _ids, names, scores):
    s_name = input("Enter the student name: ")
    s_score = float(input("Enter the student score: "))
    while True:
        if 0 <= s_score and s_score <= 20:
            break
        s_score = float(input("Enter the student score(between 0 and 20): "))
    _ids = list(_ids)
    names = list(names)
    scores = list(scores)
    _ids.append(s_id)
    names.append(s_name)
    scores.append(s_score)
    _ids = tuple(_ids)
    names = tuple(names)
    scores = tuple(scores)
    return _ids, names, scores


s_count = int(input("count of students: "))
_ids = tuple()
names = tuple()
scores = tuple()
i = 0
while i != s_count:
    s_id = input("Enter the student id: ")
    if s_id not in _ids:
        _ids, names, scores = student_info(s_id, _ids, names, scores)
        i = i + 1
    else:
        print("already exist!")
info = list(zip(_ids, names, scores))
search_name = input("Please enter the name you want to search: ")
for s_i, n, s in info:
    if search_name == n:
        print(s_i, n, s)
print(info)

1 a 12.0
3 a 15.0
[('1', 'a', 12.0), ('2', 's', 13.0), ('3', 'a', 15.0)]

<div style="color: black;font-family:Georgia;padding-top:18px;text-align:left;background-color:lightskyblue;border-radius:15px;border: 2px solid cornflowerblue;">
    <h4>Question 02 (set)(100):</h4>
    <p>
    Given two lists: list1 = [1, 2, 3, 4, 5, 6, 6, 7] and list2 = [5, 6, 7, 8, 9], write a 
program to create a list that contains only the unique elements from 
both list1 and list2. (using set)
</p>
</div>

In [1]:
list1 = [1, 2, 3, 4, 5, 6, 6, 7]
list2 = [5, 6, 7, 8, 9]
unique_elements = set(list1 + list2)
print(unique_elements)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

<div style="color: black;font-family:Georgia;padding-top:18px;text-align:left;background-color:lightskyblue;border-radius:15px;border: 2px solid cornflowerblue;">
    <h4>Question 03 (Set)(100):</h4>
    <p>
    Given a list items containing strings (filenames with extensions) and 
integers, write a Python program to extract and display the unique file 
extensions from the filenames in the list. Non-string items should be 
ignored.
</p>
</div>

In [12]:
set1 = set()
list1 = ["1.py", "h.pdf", 123, "ex_set.py", 45, "2.cpp"]
for i in list1:
    if isinstance(i, str):
        f = i.split(".")[-1]
        set1.add(f)
print(set1)

{'pdf', 'py', 'cpp'}

<div style="color: white;padding-top:18px;text-align:center;background-color:#8B008B;border-radius:15px;border: 1px solid white;"> 
    <h3>Exercise 12 (score:300 + 50)</h3>
</div>

<div style="color: black;font-family:Georgia;padding-top:18px;text-align:left;background-color:lightskyblue;border-radius:15px;border: 2px solid cornflowerblue;">
    <h4>Question 01 (Copy)(100):</h4>
    <p>
     Given dictionary books with book titles and their authors, perform the following:
    </p>
    <p>books = { "Book1":{"title": "Learn Python","authors":["Author A","Author B"]},"Book2":{"title": "AI Basics","authors":["Author C"]}}</p>
    <li>Shallow Copy Experiment:</li>
<li>Make a shallow copy of books.</li>
<li>Add "Author D" to "Book1" in this copy.</li>
<li>Compare changes in the original dictionary.</li>
<p>Deep Copy Experiment: •Create a deep copy of books.</p>
<li>Add "Author E" to "Book1" in the deep copy.</li>
<li>Discuss differences observed between the shallow and deep copy results.</li>
</div>

In [6]:
#shallow copy
books = { "Book1":{"title": "Learn Python","authors":["Author A","Author B"]},"Book2":{"title": "AI Basics","authors":["Author C"]}}
new_books = books.copy()
new_books["Book1"]["authors"].append("Author D")
print(new_books)
print(books)
# shallow copy only copys the first level so changes inside dict in book1 dict changed both books and new nooks

{'Book1': {'title': 'Learn Python', 'authors': ['Author A', 'Author B', 'Author D']}, 'Book2': {'title': 'AI Basics', 'authors': ['Author C']}}
{'Book1': {'title': 'Learn Python', 'authors': ['Author A', 'Author B', 'Author D']}, 'Book2': {'title': 'AI Basics', 'authors': ['Author C']}}

In [7]:
# DeapCopy
import copy
books = { "Book1":{"title": "Learn Python","authors":["Author A","Author B"]},"Book2":{"title": "AI Basics","authors":["Author C"]}}
new_books = copy.deepcopy(books)
new_books["Book1"]["authors"].append("Author E")
print(books)
print(new_books)
# changes made only on the copy and the original didnt change

{'Book1': {'title': 'Learn Python', 'authors': ['Author A', 'Author B']}, 'Book2': {'title': 'AI Basics', 'authors': ['Author C']}}
{'Book1': {'title': 'Learn Python', 'authors': ['Author A', 'Author B', 'Author E']}, 'Book2': {'title': 'AI Basics', 'authors': ['Author C']}}

<div style="color: black;font-family:Georgia;padding-top:18px;text-align:left;background-color:lightskyblue;border-radius:15px;border: 2px solid cornflowerblue;">
    <h4>Question 02 (ErrorHandling)(100):</h4>
    <p>
    Which type of error can’t handle by “Try, Except”? Give an example
</p>
</div>

In [9]:
#syntaxerror
num1 = 12
num2 = 5
try:
    result num1/num2
    print(result)
except:
    print("error")
print("end")

SyntaxError: invalid syntax (22748202.py, line 5)

<div style="color: black;font-family:Georgia;padding-top:18px;text-align:left;background-color:lightskyblue;border-radius:15px;border: 2px solid cornflowerblue;">
    <h4>Question 03 (Part1)(ErrorHandling)(100):</h4>
    <p>
   Manage the errors of the following codes 
    </p>
    <p>sum = 8</p>  
    <p>numbers = [10, 12, 13]</p>
    <p>res = sum(numbers)</p> 
    <p>print(res)</p>
</div>

In [11]:
sum = 8
numbers = [10, 12, 13]
try:
    res = sum(numbers)
except Exception as e:
    print(e.__class__.__name__,":", e)
else:
    print(res)
print("end")

TypeError : 'int' object is not callable

<div style="color: black;font-family:Georgia;padding-top:18px;text-align:left;background-color:lightskyblue;border-radius:15px;border: 2px solid cornflowerblue;">
    <h4>Question 03 (Part2)(ErrorHandling)(100):</h4>
    <p>
   Manage the errors of the following codes 
    </p>
    <p>numbers = [2, 3, 10, 23]</p>  
    <p>numbers.remove(300)</p>
    <p>print(numbers[8])</p> 
</div>

In [17]:
numbers = [2, 3, 10, 23]
try:
    numbers.remove(300)
except ValueError as e:
    print(e)
try:
    print(numbers[8])
except IndexError as e:
    print(e)
print("end")

list.remove(x): x not in list
list index out of range
end

<h2 style="color: blue:; background-color: purple">Don't give up on your dreams :)</h2>